* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation bar */
nav {
  background-color: navy;
  color: white;
  max-width: 100%;
  padding: 25px 50px;
  text-align: center;
}

nav ul {
  display: block;
}

nav li {
  display: inline-block;
  margin: 0 9%;
  text-transform: uppercase;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.8);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hero image */
#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/saint-michel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 35%;
  height: calc(100vh - 68.4px);
  text-align: center;
  color: white;
}

#hero h1 {
  color: white;
  font-size: 2rem;
}
#hero h1 {
  font-size: 4rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 250px;
}

/* Main */
.left {
  float: left;
  width: 80%;
  box-sizing: border-box;
  padding: 25px;
}

.right {
  box-sizing: border-box;
  float: right;
  border: 2px solid darkred;
  width: 20%;
  overflow: hidden;
  padding: 25px;
}

.right li {
  padding: 15px;
}
